*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
body{
    background: #f2f2f2;
}
 header{
   position: fixed;
    top:0;
    left:0;
    width:100%;
    background: #333; 
    z-index: 100;
} 

.flex{
    display: flex;
    align-items: center;
}
.container{
  
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px ;
}
.navbar{
    gap: 20px;
    justify-content: space-between;
}

.nav-links{
    gap:20px;
    list-style: none;

}
.navbar a{
    padding: 20px 0;
    display: inline-block;
    color:#fff;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s ;
}
.navbar a:hover{
    color:#ddd;
}
/* homepages */
.homepage{
    position: relative;
    height: 100vh;
    width: 100%;
    background: url("/assets/home-bg.jpg");
    background-position: center;
    background-size: cover;
  
}
.homepage::before{
    content: "";
    position: absolute;
    height: 100%;
    width:100%;
    top:0;
    left:0;
    background: rgba(0,0,0,0.2);
}
.homepage .content{
    height:85%;
    flex-direction: column;
    justify-content: center;
}
.homepage  .text{
    color: #fff;
    text-align: center;
    margin-bottom: 50px;

}
.homepage  .text h1{
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 10px;
}
.homepage a{
    color:#333;
    text-decoration: none;
    background: #fff;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid #fff;
    box-shadow: rgba(0,0,0,0.3);
    font-size: 18px;
    transition: 0.3s;


}
.homepage a:hover{
    color:#fff;
    background: rgba(255,255,255,0.3);

}
/* service */
section{
    padding-top: 80px;
}
.section-tittle{
    text-align: center;
}
section h2{
    font-size: 2rem;
}
section.cards{
    margin-top:50px;
}
section .card{
    width:calc(100% / 3 -30px);
    background-color: #fff;
    text-align: center;
    list-style: none;
    padding: 40px 15px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
    margin-bottom: 40px;
}
section .card img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
    }
    section .card p{
        margin-top:5px;
    }